/* a lot of this code was taken from rmd styles directly included in the output html page, license was not present there but it is GPL3 */

pre {
  white-space: pre-wrap;
}

span.smallcaps {
  font-variant: small-caps;
}

span.underline {
  text-decoration: underline;
}

div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

ul.task-list {
  list-style: none;
}

code {
  white-space: pre;
}

.main-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

.tabbed-pane {
  padding-top: 12px;
}

.html-widget {
  margin-bottom: 20px;
}

button.code-folding-btn:focus {
  outline: none;
}

summary {
  display: list-item;
}

pre code {
  padding: 0;
}



/* tabsets */

.tabset-dropdown>.nav-tabs {
  display: inline-table;
  max-height: 500px;
  min-height: 44px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tabset-dropdown>.nav-tabs>li.active:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown>.nav-tabs.nav-tabs-open>li.active:before {
  content: "";
  border: none;
}

.tabset-dropdown>.nav-tabs.nav-tabs-open:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown>.nav-tabs>li.active {
  display: block;
}

.tabset-dropdown>.nav-tabs>li>a,
.tabset-dropdown>.nav-tabs>li>a:focus,
.tabset-dropdown>.nav-tabs>li>a:hover {
  border: none;
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
}

.tabset-dropdown>.nav-tabs.nav-tabs-open>li {
  display: block;
  float: none;
}

.tabset-dropdown>.nav-tabs>li {
  display: none;
}

/* code folding */


#TOC {
  margin: 25px 0px 20px 0px;
}

@media (max-width: 768px) {
  #TOC {
    position: relative;
    width: 100%;
  }
}

@media print {
  .toc-content {
    /* see https://github.com/w3c/csswg-drafts/issues/4434 */
    float: right;
  }
}

.toc-content {
  padding-left: 30px;
  padding-right: 40px;
}

div.main-container {
  max-width: 1200px;
}

div.tocify {
  width: 20%;
  max-width: 260px;
  max-height: 85%;
}

@media (min-width: 768px) and (max-width: 991px) {
  div.tocify {
    width: 25%;
  }
}

@media (max-width: 767px) {
  div.tocify {
    width: 100%;
    max-width: none;
  }
}

.tocify ul,
.tocify li {
  line-height: 20px;
}

.tocify-subheader .tocify-item {
  font-size: 0.90em;
}

.tocify .list-group-item {
  border-radius: 0px;
}


h1 {
  font-size: 34px;
}

h1.title {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.table th:not([align]) {
  text-align: left;
}

.table-word-wrapped {
  table-layout: fixed;
}

.table-word-wrapped td {
  word-wrap: break-word;
}


h4 em {
  font-style: normal;
}

body,
p {
  text-align: justify;
}

body ul,
body ol {
  text-align: left;
}


th {
  text-align: left;
}

header#pageHeader {
  width: 100%;
  text-align: center;
  margin: 25px 10px 25px 10px;
}

@media print {

  h2,
  h3,
  h4 {
    color: #444444 !important;
  }

  div,
  p,
  table {
    orphans: 3;
    widows: 3;
  }

  #TOC {
    display: none;
  }
}

.pagebreak {
  page-break-before: always;
}


#jup-show-hide-all-menu {
  margin-right: 15px;
}
